@model MvcApplication1.Models.ChangePasswordModel

@{
    Layout = null;
}
<div class="col-md-4">
    <div class="box down20 ">
        <div class="box-top">
            <h3>Change Password</h3>
        </div>
        <div class="box-inner">
      @using (Html.BeginForm("ChangePassword", "Account", method: FormMethod.Post))
      {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        if (Model.IsOldPasswordHasError)
        {
            @Html.Label(@Model.OldPasswordError, new { @class = "field-validation-error"})
        }
        @Html.LabelFor(x => x.OldPassword)
        @Html.PasswordFor(x=>x.OldPassword)  
        if (Model.IsNewPasswordHasError)
        {
            @Html.Label(@Model.NewPasswordError, new { @class = "field-validation-error"})
        }
        @Html.LabelFor(x=>x.NewPassword)
        @Html.PasswordFor(x=>x.NewPassword)  
        if (Model.IsConfirmPasswordHasError)
        {
            @Html.Label(@Model.ConfirmPasswordError, new { @class = "field-validation-error"})
        }
        @Html.LabelFor(x=>x.ConfirmPassword)
        @Html.PasswordFor(x=>x.ConfirmPassword)
                 <input type="submit" class="btn btn-success down10" value="Change Password">
        }
      
        </div>
    </div>
</div>