@model MvcApplication1.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="register">    
    <div class="col-sm-5 down50">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-lock"></span> @ViewBag.Title
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Register","Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.UserMail)</p>
                        @if (!@Model.IsUserMailAvilable)
                        {
                            <p class="field-validation-error">@Model.UserMailNotAvilabe</p>
                        }
                        @Html.LabelFor(m => m.UserMail, new {@class = " control-label"})
                        @Html.TextBoxFor(m => m.UserMail, new {@class="right-side form-control fields-in-register", type = "email", required = "required "})
                    </div>
                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.UserLogin)</p>
                        @if (!@Model.IsUserLoginAvilable)
                        {
                               <p class="field-validation-error">@Model.UserLoginNotAvilabe</p>
                        }
                        @Html.LabelFor(m => m.UserLogin, new {@class = " control-label"})
                        @Html.TextBoxFor(m => m.UserLogin, new { @class = "right-side form-control fields-in-register", required = "required" })
                    </div>
                    <div class="form-group">
                       <p>@Html.ValidationMessageFor(m => m.Password)</p>
                        @Html.LabelFor(m => m.Password, new {@class = " control-label"})
                        @Html.PasswordFor(m => m.Password, new {@class="right-side form-control fields-in-register", required = "required"})
                    </div>
                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
                        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
                        @Html.PasswordFor(m => m.ConfirmPassword, new {@class="right-side form-control fields-in-register", required = "required"})
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9 ">
                
                            <input type="submit" class="btn btn-success"   value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
