@{
    ViewBag.Title = "New Project";
}
@model MvcApplication1.DbModels.Projects


<div class="container" id="main">
    <div class="flash affix-top"></div>
    <div class="row down60" id="projects-new">

        <h1 class="span12">Новий проект</h1>

        <form id="projects-new-form" class="span7">
       @using (Html.BeginForm())
       {
        @Html.AntiForgeryToken()

        <div >
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Theme", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div>@Html.RadioButtonFor(model => model.Settings.FirstAttribute, new { htmlAttributes = new { @class = "form-control" } })</div>
                    <div>@Html.RadioButtonFor(model => model.Settings.FirstAttribute, new { htmlAttributes = new { @class = "form-control" } }) </div>
                    <div>@Html.RadioButtonFor(model => model.Settings.FirstAttribute, new { htmlattributes = new { @class = "form-control" } }) </div>
                    @Html.ValidationMessageFor(model => model.Settings, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 ">
                    <input type="submit" value="Create" class="btn btn-medium block align-center btn-link" />
                </div>
            </div>
        </div>
       }

        </form>
        
    </div>
</div>


