@using System.Web.UI.WebControls
@using MvcApplication1.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title - Book Builder</title>
    @Scripts.Render("~/bundles/modernizr")
    
    <link href="/Content/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/Content/editor.css" media="all" rel="stylesheet" type="text/css">
    <link href="/Content/editorAditional.css" media="all" rel="stylesheet" type="text/css">
    <link href="/Content/Site.css" media="all" rel="stylesheet" type="text/css">
    <link href="/Content/application.css" media="all" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

   
    <script type="text/javascript">  var CKEDITOR_BASEPATH = 'https://d32xvvb5lxy7xi.cloudfront.net/assets/ckeditor4dot4dot1-June4/';</script>
    @Scripts.Render("~/Scripts/javascripts")

</head>
    <body>

        
        @RenderSection("featured", required: false)
      
        <section class="container  body-content">
            @Html.Partial("_MenuPartial")
            <div class="down20"></div>
            @RenderBody()
        </section>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>


