@model MvcApplication1.DbModels.Projects
           <script src="/Scripts/application.js"></script>
           
@{
    if (Model != null)
    {
        <div id="breadcrumbs" >
            <div>
                <!--Path and Project setting button-->
                <div class="row ">

                    <div class="col-md-4" style="padding:0 20px 0 20px">
                        <h1 id="project-title" style="width: 400px;">
                  
                            <a>@Html.ActionLink(Model.UserLogin, "ProjectsList", "Project")</a>
                            <span>/</span>
                            <a>@Html.ActionLink(Model.Title, "Index", "Dashboard", new { Model.Id }, null)</a>
                        </h1>
                    </div>

                    <div class="col-md-8 align-right " id="project-nav" style="padding:0 20px 0 20px">
                        <a id="project-settings-link" class="">
                            <i class="glyphicons cogwheel"></i>
                            @Html.ActionLink("Project Setting", "Setting", "Project", new { Model.Id }, null)
                        </a>
                    </div>

                </div>

                <!--Branch bar-->
                <div class="row-fluid hidden" id="branches-container" style="padding:0px 0 0px 0">

                    <!--Button - brach list-->
                    <div class=" ">
                        <span class=" span3">
                            <select id="" style="height:38px; padding-bottom:0px;" name="access_level">
                                <option>
                                    master
                                </option>
                                <option>
                                    demo_book
                                </option>
                            </select>

                        </span>
                    </div>

                    <div class="branch-callout-container span9">
                        <div class="branch-callout">
                            <span class="branch-message">
                                Create a new branch, or edit this one directly.
                            </span>
                            <a href="https://BB.com/demo_book/my-new-project#" id="create-branch" class="branch-button btn pull-right">
                                Add a branch
                            </a>
                        </div>
                    </div>

                </div>

                <!--Tab menu bar-->
                <div class="row-fluid">
                    <ul id="project-tabs">
                        <li>
                            <div id="project-dashboard-link" class="active">
                                @Html.ActionLink("Dashboard", "Index", "Dashboard", new { Model.Id }, null)
                            </div>

                        </li>
                        <li>
                            <div id="project-configure-link">
                                @Html.ActionLink("Configure", "Index", "Configure", new { Model.Id }, null)
                            </div>
                        </li>
                        <li>
                            <div id="project-builds-link">
                                @Html.ActionLink("Builds", "Index", "Build", new { Model.Id }, null)
                            </div>
                        </li>

                        <li>
                            <div id="review-link">
                                @Html.ActionLink("Review", "Index", "Review", new { Model.Id }, null)
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    }
}